.menu-list {
    list-style: none;
	color: rgba(255, 255, 255, 0.4);
}

li.menu-link a {
	font-family: "Muli", Helvetica, sans-serif;
	font-size: 12pt;
	color: rgba(255, 255, 255, 0.4);
	line-height: 30px;
	border-bottom: none;
}

li.menu-link a.active {
	color: rgba(255, 255, 255, 0.8);
}

div.inner h2 {
	color:#49bf9d !important;
}