/* FORMATTING OPTIONS */

div.inner h2 {
	color:rgba(255, 255, 255, 1) !important;
	padding-top: 0em;
	margin-bottom: 0;
}

header.major h4 {
	font-weight: 500;
}

/* CSS - JAVASCRIPT MENU BAR */

li.menu-link a {
	font-family: "Muli", Helvetica, sans-serif;
	font-size: 1em;
	color: rgba(255, 255, 255, 0.5);
	line-height: 30px;
	border-bottom: none;

	transition: 0.0s; /* For slide menu */
}

li.menu-link a.active {
	color: rgba(255, 255, 255, 1);
}

/* Icon */
.menu-btn {
	background-color: transparent;
	border: none;
	padding: 1em 0em 1em 0em;
	color: rgba(255, 255, 255, 1);
	cursor: pointer;
}

.menu-btn:hover {
	color: #49bf9d;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;

  font-size: 2.5em !important;
}

/* XXLarge */
.menu-btn {
	display: none;
}

.menu-list {
	list-style: none;
	color: rgba(255, 255, 255, 0.4);
	padding: 0em;
	margin: 0em;
	height: auto; /* For slide menu */
	overflow-y: visible; /* For slide menu */
	transition: 0.0s; /* For slide menu */
}

#main>section {
	scroll-margin-top: 84px;
}

#main>section:first-child {
	scroll-margin-top: 174px;
}

/* XLarge */
@media screen and (max-width: 1800px) {

	.menu-btn {
		display: none;
	}

	.menu-list {
		padding: 0em;
		margin: 0em;
		height: auto; /* For slide menu */
		overflow-y: visible; /* For slide menu */
		transition: 0.0s; /* For slide menu */
	}

	#main>section {
		scroll-margin-top: 60px;
	}

	#main>section:first-child {
		scroll-margin-top: 130px;
	}
}

/* Large */
@media screen and (max-width: 1280px) {

	.menu-btn {
		display: none;
	}

	.menu-list {
		padding: 0em;
		margin: 0em;
		height: auto; /* For slide menu */
		overflow-y: visible; /* For slide menu */
		transition: 0.0s; /* For slide menu */
	}

	#main>section {
		scroll-margin-top: 30px;/*60px;*/
	}

	#main>section:first-child {
		scroll-margin-top: 100px/*130px;*/
	}
}

/* Medium */
@media screen and (max-width: 980px) {
	.menu-btn {
		display: inline;
	}

	.menu-list {
		height: 0px; /* Close the menu bar */
		overflow-y: hidden; /* For slide menu */
		transition: 0.4s; /* For slide menu */
	}

	div.inner h2 {
		padding-top: 0.2em;
	}

	#main>section {
		scroll-margin-top: 2.5em;
	}

	#main>section:first-child {
		scroll-margin-top: 8.5em;
		padding-top: 5px;
	}
}

/* Small */
@media screen and (max-width: 736px) {
	
	.menu-btn {
		display: inline;
	}

	.menu-list {
		height: 0px; /* Close the menu bar */
		overflow-y: hidden; /* For slide menu */
		transition: 0.4s; /* For slide menu */
	}

	div.inner h2 {
		font-size: 2em;
	}

	#main>section {
		scroll-margin-top: 4em;
	}

	#main>section:first-child {
		padding-top: 4em;
	}
}

/* Add padding to the bottom of the contacts segment so the active menu scrolls high enough
   TODO: this will need adjusting for different screen sizes */
#contact {
	padding-bottom: 15em !important;
}
