{% include 'header.html' %}

<!-- CV -->
<div id="main">
    
    <!-- CV -->
    <section id="cv">
        <header class="major">
            <h2>CNC TECHNICIAN</h2>
        </header>
        <p>
            CNC Technician with a broad history in manufacturing medical devices, mechanical troubleshooting, and
            quality assurance. Adept at operating 5-axis CNC machines, Fanuc control systems, and industrial robots,
            with expertise in high-volume manufacturing of medical devices. Skilled in lean manufacturing practices,
            ERP
            systems, and precision inspection processes. Committed to continuous learning, currently expanding
            knowledge
            in Python programming, data analysis, and AI applications to drive innovation.
        </p>
    </section>

    <!-- Exerience -->
    <section id="experience">
        <header class="major">
            <h2>EXPERIENCE</h2>
            <h4>CNC TECHNICIAN - SMITH AND NEPHEW – 2022 - 2024</h4>
        </header>
        <ul>
            <li>Manufactured class 2 and 3 medical devices in a high-volume production environment.</li>
            <li>Set and operate 5-axis CNC machines and CNC Lathes with Fanuc control systems.</li>
            <li>Followed TPMs, 5S schedules, SOPs, and Engineering drawings.</li>
            <li>Led quality inspection procedures using precision measuring equipment, including CMM machines.</li>
            <li>Used Tulip to record and manage production performance metrics.</li>
            <li>Collaborated with colleagues to develop solutions to any manufacturing problems.</li>
            <li>Developed strong substantial experience operating Fanuc industrial robots.</li>
        </ul>
        <header class="major">
            <h4>MACHINE AND PREP TECHNICIAN - TECMAN – 2019 - 2022</h4>
        </header>
        <ul>
            <li>Engineered and converted materials used in automotive, electronics, renewables, aerospace, and defense.
            </li>
            <li>Complied with SOPs to set up and operate die-cutting machinery and presses.</li>
            <li>Built parts in high volume while adhering to engineering drawings and tolerances.</li>
            <li>Utilized SAP and Microsoft Excel to raise production orders and locate materials in the warehouse. </li>
            <li>Processed raw materials using rewind machines and lathe slitters.</li>
            <li>Inspected components using precision measuring equipment in adherence to set standards.</li>
        </ul>
    </section>

    <!-- Certifications -->
    <section id="certifications">
        <header class="major">
            <h2>AWARDS & CERTIFICATIONS</h2>
            <h4>XYZ MACHINE TOOLS</h4>
        </header>
        <ul>
            <li>XYZ SMX3 2500 Proto TRAK SMX3</li>
        </ul>
        <header class="major">
            <h4>UDEMY</h4>
        </header>
        <ul>
            <li>100 Days of Code: The Complete Python Pro Bootcamp</li>
            <li>Complete Modern C++11-14-17</li>
            <li>Pro Unreal Engine Game Coding</li>
            <li>Unreal Engine C++ Developer</li>
            <li>Unreal Engine C++ The Ultimate Game Developer Course</li>
            <li>Unreal Engine 4 - VFX for Games</li>
            <li>Unreal Engine 4 - VFX for Games</li>
        </ul>
        <header class="major">
            <h4>AUTOMOTIVE PRODUCTS TRAINING CENTRE</h4>
        </header>
        <ul>
            <li>Certificate of Apprenticeship – Engineering Maintenance</li>
            <li>NVQ Level 3 - Engineering Maintenance</li>
            <li>NVQ Level 2 - Engineering Manufacture</li>
        </ul>
        <header class="major">
            <h4>TILE HILL COLLEGE</h4>
        </header>
        <ul>
            <li>City and Guilds - Engineering Systems Maintenance Part 2</li>
            <li>City and Guilds - Electrical and Electronic Engineering</li>
        </ul>
        <header class="major">
            <h4>WARWICKSHIRE COLLEGE</h4>
        </header>
        <ul>
            <li>City and Guilds - Electrical Installation Competence Part 1</li>
            <li>BTEC National Diploma - Design Communications</li>
        </ul>
    </section>
</div>

{% include 'footer.html' %}