{% include 'header.html' %}
{% include 'modal.html' %}

<!-- Main -->
<div id="main">

	<!-- One -->
	<section id="about">
		<header class="major">
			<h2>ABOUT ME</h2>
		</header>
		<p>From the moment I first programmed my ZX Spectrum as a child, I have been fascinated by the possibilities of
			technology. From building radio-controlled aircraft to crafting FM radio transmitters (If I was not taking
			my mums hoover apart!). This early passion started a lifelong journey into the world of
			electrical-mechanical engineering, CNC control systems and industrial robots. All while continuing my
			obsession with software development and programming languages.
			</br>Throughout my professional career, I have honed my critical thinking skills and cultivated a deep
			understanding of both hardware and software systems. My experience in electrical and mechanical engineering
			provided a solid foundation for logical thinking and problem solving, which seamlessly transitioned into
			programming and application development.
		</p>
		</ul>
		<ul class="actions">
			<li><a href="{{ url_for('static', filename='files/Parker_David_CV_General.pdf') }}" download class="button">Download CV</a></li>
		</ul>
	</section>

	<!-- Core Competences -->
	<section id="skills">
		<header class="major">
			<h2>CORE COMPETENCES</h2>
		</header>
		<P>CNC Machine Operation | Manufacturing Technologies | Mechanical Troubleshooting | Quality Inspection |
			Robotics Integration | Production Management | Lean Manufacturing Practices | Material Processing |
			Technical Documentation | ERP Systems</br></br>
			Technical Skills: Microsoft Word, Microsoft Excel, C++, Python (Flask, Jinja, Beautiful Soup, SQLite, SQL
			Alchemy, Pandas, NumPy, SciPy, Matplotlib, Seaborn), Git – GitHub, CSS – HTML, Unreal Engine
		</P>
	</section>

	<!-- Exerience -->
	<section id="experience">
		<header class="major">
			<h2>EXPERIENCE</h2>
			<h4>CNC TECHNICIAN - SMITH AND NEPHEW – 2022 - 2024</h4>
		</header>
		<ul>
			<li>Manufactured class 2 and 3 medical devices in a high-volume production environment.</li>
			<li>Set and operate 5-axis CNC machines and CNC Lathes with Fanuc control systems.</li>
			<li>Followed TPMs, 5S schedules, SOPs, and Engineering drawings.</li>
			<li>Led quality inspection procedures using precision measuring equipment, including CMM machines.</li>
			<li>Used Tulip to record and manage production performance metrics.</li>
			<li>Collaborated with colleagues to develop solutions to any manufacturing problems.</li>
			<li>Developed strong substantial experience operating Fanuc industrial robots.</li>
			<li>Repeatedly delivered 100% success across all performance metrics.</li>
		</ul>
		<header class="major">
			<h4>MACHINE AND PREP TECHNICIAN - TECMAN – 2019 - 2022</h4>
		</header>
		<ul>
			<li>Engineered and converted materials used in automotive, electronics, renewables, aerospace, and defense.
			</li>
			<li>Complied with SOPs to set up and operate die-cutting machinery and presses.</li>
			<li>Built parts in high volume while adhering to engineering drawings and tolerances.</li>
			<li>Utilized SAP and Microsoft Excel to raise production orders and locate materials in the warehouse. </li>
			<li>Processed raw materials using rewind machines and lathe slitters.</li>
			<li>Inspected components using precision measuring equipment in adherence to set standards.</li>
		</ul>
	</section>

	<!-- Certifications -->
	<section id="certifications">
		<header class="major">
			<h2>AWARDS & CERTIFICATIONS</h2>
			<h4>XYZ MACHINE TOOLS</h4>
		</header>
		<ul>
			<li>XYZ SMX3 2500 Proto TRAK SMX3</li>
		</ul>
		<header class="major">
			<h4>UDEMY</h4>
		</header>
		<ul>
			<li>100 Days of Code: The Complete Python Pro Bootcamp</li>
			<li>Complete Modern C++11-14-17</li>
			<li>Pro Unreal Engine Game Coding</li>
			<li>Unreal Engine C++ Developer</li>
			<li>Unreal Engine C++ The Ultimate Game Developer Course</li>
			<li>Unreal Engine 4 - VFX for Games</li>
			<li>Unreal Engine 4 - VFX for Games</li>
		</ul>
		<header class="major">
			<h4>AUTOMOTIVE PRODUCTS TRAINING CENTRE</h4>
		</header>
		<ul>
			<li>Certificate of Apprenticeship – Engineering Maintenance</li>
			<li>NVQ Level 3 - Engineering Maintenance</li>
			<li>NVQ Level 2 - Engineering Manufacture</li>
		</ul>
		<header class="major">
			<h4>TILE HILL COLLEGE</h4>
		</header>
		<ul>
			<li>City and Guilds - Engineering Systems Maintenance Part 2</li>
			<li>City and Guilds - Electrical and Electronic Engineering</li>
		</ul>
		<header class="major">
			<h4>WARWICKSHIRE COLLEGE</h4>
		</header>
		<ul>
			<li>City and Guilds - Electrical Installation Competence Part 1</li>
			<li>BTEC National Diploma - Design Communications</li>
		</ul>
	</section>

	<!-- Two -->
	<section id="projects">
		<header class="major">
			<h2>RECENT PROJECTS</h2>
		</header>
		<div class="row">
			<article class="col-6 col-12-xsmall work-item">
				<a href="#" class="image fit thumb"><img src="static/images/thumbs/Lottery_Chart.jpg"
						alt="" /></a>
				<h3>Lottery Results Analysis</h3>
				<p>Statistical analysis of lottery numbers using Beautiful Soup, Pandas and NumPy.</p>
			</article>
			<article class="col-6 col-12-xsmall work-item">
				<a href="#" class="image fit thumb"><img src="static/images/thumbs/02.jpg"
						alt="" /></a>
				<h3>Coming Soon</h3>
				<p>Projects In Progress.</p>
			</article>
		</div>
		<ul class="actions">
			<li><a href="#" class="button">Full Portfolio</a></li>
		</ul>
	</section>

	<!-- Three -->
	<section id="contact">
		<header class="major">
			<h2>GET IN TOUCH</h2>
		</header>
		<p>If you have any questions or would like to get in touch, please feel free to contact me using any of the
			methods listed below. I will do my best to respond promptly to all inquiries.</p>
		<div class="row">
			<div class="col-8 col-12-small">
				<form method="POST", action="{{ url_for('submit') }}" id="contact-form">
					{{ form.csrf_token }}
					<div class="row gtr-uniform gtr-50">
						<div class="col-6 col-12-xsmall">{{ form.name }}</div>
						<div class="col-6 col-12-xsmall">{{ form.email }}</div>
						<div class="col-12">{{ form.message(rows=4) }}</div>
					</div>
				</form>
				<ul class="actions">
					<li>{{ form.submit }}</li>
				</ul>
			</div>
			<div class="col-4 col-12-small">
				<ul class="labeled-icons">
					<li>
						<h3 class="icon solid fa-home"><span class="label">Address</span></h3>
						<h5>Leamington Spa,<br />
						England,<br />
						CV32 4NS<br />
						United Kingdom</h5>
					</li>
					<li>
						<h3 class="icon solid fa-envelope"><span class="label">Email</span></h3>
						<h5><a href="mailto:parkers.postbox@gmail.com">parkers.postbox@gmail.com</a></h5>
					</li>
				</ul>
			</div>
		</div>
	</section>
</div>

{% include 'footer.html' %}