<!-- CSS JAVASCRIPT MENU BAR -->
<div class="menu" id="menu-reponse">

    <!-- BUTTON -->
    <button onclick="openMenu()" id="menuButton" class="menu-btn">
        <span class="material-symbols-rounded">menu</span>
    </button>

    <div class="menu-list show" id="menuDropdown">
        <!-- <li class="menu-link">
            <a class="active" href="#about" onclick="window.scrollTo(0, 0); return false">About Me</a>
        </li> -->
        <li class="menu-link">
            <!-- Make sure that the top title lines up with the name when clicked -->
            <a class="active" href="#about">About Me</a>
        </li>
        <li class="menu-link">
            <a class="" href="#skills">Competences</a>
        </li>
        <li class="menu-link">
            <a class="" href="#experience">Experience</a>
        </li>
        <li class="menu-link">
            <a class="" href="#certifications">Certifications</a>
        </li>
        <li class="menu-link">
            <a class="" href="#projects">Projects</a>
        </li>
        <li class="menu-link">
            <a class="" href="#contact">Get In Touch</a>
        </li>
    </div>
</div>