<!-- CSS JAVASCRIPT MENU BAR -->
<div class="menu" id="menu-reponse">

    <!-- BUTTON -->
    <button onclick="openMenu()" id="menuButton" class="menu-btn">
        <span class="material-symbols-rounded">menu</span>
    </button>

    <div class="menu-list scroll-behaviour" id="menuDropdown">
        <!-- <li class="menu-link">
            <a class="active" href="#about" onclick="window.scrollTo(0, 0); return false">About Me</a>
        </li> -->
        <li class="menu-link">
            <!-- Make sure that the top title lines up with the name when clicked -->
            <a class="active" href="#about" onclick="gotoByScroll('about'); return false;">About Me</a>
        </li>
        <li class="menu-link">
            <a class="" href="#skills" onclick="gotoByScroll('skills'); return false;">Competences</a>
        </li>
        <li class="menu-link">
            <a class="" href="#experience" onclick="gotoByScroll('experience'); return false;">Experience</a>
        </li>
        <li class="menu-link">
            <a class="" href="#certifications" onclick="gotoByScroll('certifications'); return false;">Certifications</a>
        </li>
        <li class="menu-link">
            <a class="" href="#projects" onclick="gotoByScroll('projects'); return false;">Projects</a>
        </li>
        <li class="menu-link">
            <a class="" href="#contact" onclick="gotoByScroll('contact'); return false;">Get In Touch</a>
        </li>
    </div>
</div>